# Carpetas target de Maven en cualquier nivel
**/target/
*.class
*.log
*.jar
*.war

# Carpetas pesadas de Node.js / Cypress
cypress/reports/
cypress/screenshots/
cypress/videos/
selenium-java/target/
playwright-java/target/

# Configuraciones de IntelliJ y VSCode
**/.idea/
**/*.iml
.vscode/
.DS_Store